<!DOCTYPE html>
<html>
<div class="container">
 <h1 class="jumbotron">News Nation</h1>
  <nav class="navbar navbar-toggleable-md navbar-light bg-light sticky-top ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="btn btn-primary btn-info" [routerLink]= "'/search'">Search</button>
  <button class="btn btn-primary btn-info" [routerLink]= "'/favorite'">Favorite</button>
  </nav>
</div>
</html>


<router-outlet></router-outlet>