<!DOCTYPE html>
<html>
<div class="body">
  <div class="container">
    <div class="topnav sticky-top container">
      <a [routerLink]="'/home'">Latest News Updates</a>
      <a [routerLink]="'/search'">Search your News Site</a>
      <a [routerLink]="'/favorite'">Favorite News</a>
    </div><hr>
    <img src="../assets/news.jpg" class="container headimg" />
   <hr>

    <router-outlet></router-outlet>
  </div>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <footer>
    <div class="container-fluid bg-primary py-3 sticky-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="row py-0">
              <div class="col-sm-1 hidden-md-down">
              </div>
              <div>
                <p> <span class="header-font">&copy; Nishtha Goyal</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="d-inline-block">
              <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i></a>
              </div>
              <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                <a href="https://twitter.com/"><i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
              </div>
              <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                <a href="https://www.linkedin.com/company/"><i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
              </div>
              <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                <a href="https://www.google.com/"><i class="fa fa-2x fa-fw fa-google text-white"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

</html>
