
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-4 mt-4" *ngFor="let news of post">
      <div class="card">
        <img class="card-img-top" src="{{news.urlToImage}}" alt="No image">
        <div class="card-block">
          <h4 class="card-title"> <a href="{{news.url}}" target="blank">{{news.title}}</a></h4>
          <div class="card-text">{{news.description}}</div>
        </div>
        <div class="card-footer">
          <span class="float-left">{{news.publishedAt}}</span>
          <a class="btn btn-success float-right" (click)="add(news)">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
